# .gitignore
/.git
/.phpunit.result.cache
/phpunit.xml.bak
/.env
/bin
/memo.txt
/make_yaml.php
/bots.yaml
/User-Selectable-Messages.yaml
/Bot-information.yaml 
/tests
/.env.example
/.phpcs.xml.dist
/.phpunit.result.cache
/.travis.yml
/Dockerfile
/docker-compose.yml*
/.travis.yml
